*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/stocks.png');
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}

.form{
    width: 400px;
    height: auto;
    color: black;
    background-color: white;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    font-family: 'roboto', sans-serif;
}

.heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
}

input,
.submit-btn{
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    color: black;
    padding: 15px;
    transition: .5s;
}
.submit-btn{
    text-transform: capitalize;
}

input::placeholder{
    color: rgb(48, 48, 48);
}

input:focus{
    border-color: rgba(33, 129, 255, 0.25);
    border-width: 5px;
}
.submit-btn:hover{
    background: black;
    color: white;
}

input:focus::placeholder{
    color: rgb(63, 63, 63);
}

.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
}

.link{
    text-align: center;
    text-transform: capitalize;
    color: rgba(114, 114, 114, 0.5);
    display: block;
    margin: 30px auto;
}

.link:hover{
    color: black;
}

.alert-box{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 15px;
    text-transform: capitalize;
    background: rgb(248, 62, 62);
    border-left: 10px;
    border-right: 10px;
    border-radius: 15px;
    color: white;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
}